<html>
<header>
    	<link rel="stylesheet" href="../styles/main.css">
</header>
<body class="body-menu">
    <h1>Menú</h1>
   
    <hr>

    <nav class="body-menu-nav">
        <ul class="body-menu-ul">
            <li class="body-menu-li"><a href="../index.html" target="main">Indice</a></li>
            <li class="body-menu-li"><a href="../pages/surface_we.html" target="contenido">Surface Web</a></li>
            <li class="body-menu-li"><a href="../pages/deep_web.html" target="contenido">Deep Web</a></li>
            <li class="body-menu-li"><a href="../pages/dark_web.html" target="contenido">Dark Web</a></li>
            <li class="body-menu-li"><a href="../pages/sobre_nosotros.html" target="contenido">Sobre nosotros</a></li>
        </ul>
    </nav>
</body>
</html>