<html>
<header>
    	<link rel="stylesheet" href="../styles/main.css">
</header>
<body>
    <div id="menu">
        <h3>Menú</h3>
        <ul>
            <li><a href="" target="contenido">Indice</a></li>
            <li><a href="" target="contenido">Surface Web</a></li>
            <li><a href="" target="contenido">Deep Web</a></li>
            <li><a href="" target="contenido">Dark Web</a></li>
            <li><a href="" target="contenido">Sobre nosotros</a></li>
        </ul>
    </div>
</body>
</html>